torch>=1.1
torchvision>=0.3
timm
opencv-python
kornia
kornia_moons
h5py
git+https://github.com/cavalli1234/AdaLAM.git
h3
av
shapely
astral
boto3
pyarrow
fastparquet
geopy
pyproj
folium
laspy[laszip]
open3d
pyntcloud
pythreejs
ipyvolume
spacy=3.2
torchtext=0.12